.collection {
    vertical-align: top;
}

.content-container {
    border-style:solid;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    vertical-align: top;
}

.inner-content {
    border-style:solid;
    border-color: lightgray;
    border-radius: 15px;
    padding: 4px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.card-image {
    height: 200px;
    justify-self: center;
}

a {
    text-decoration: none;
}